<h3><a href="/books">Home</a></h3>
<form id="details-table" method="POST" action="/books">
    {{#if book}}
        <h2 id="details-header">Details for: {{book.title}}</h2>
        <li>Author: {{book.author}}</li>
        <li>Price: {{book.price}}</li>
        <p>
        
        <input type="text" name="title" value="{{title}}" hidden>
        <input id="update-author-input" type="text" name="author" value="{{book.author}}" placeholder="Add or change the Author:">
        <input id="update-price-input" type="text" name="price" value="{{book.price}}" placeholder="Add or change the Price:">
        <br>
        <button id="update-button" type="submit">Update</button>
        <button id="delete-button"><a href="/delete/{{title}}">Delete</a></button>
        </p>
    {{else}}
            <h2>{{title}} not found</h2>
    {{/if}}
</form>