    <!-- this section for assignment 3 -->
    <h2 id="main-welcome">Welcome to my Book Collection!</h2>
    <form id="book-table" method="POST" action="/books">
        <!-- <input id="search-book-input" type="text" name="title" placeholder="Title">
        <button id="search-book-btn" type="submit">Search</button>
        <hr color="black"> -->
        <input id="add-book-input" type="text" name="title" placeholder="Title">
        <button id="add-book-btn" type="submit">Add a book!</button>
        <hr>
        <h3>Books</h3>
        <hr>
        {{#each books}}
            <li><a href="/details/{{title}}">{{title}}</a></li>
        {{/each}}
    </form>