body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

#book-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#book-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

#details-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}



#add-book-input[type="text"], #search-book-input[type="text"]{
    width: 75%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

#update-author-input[type="text"], #update-price-input[type="text"]{
    display: block;
    width: 30%;
    padding: 20px;
    margin: 5px;
    background:#181c22;
    border: 0;
    font-size: 20px;
    color: #989898;
}

#delete-button, #update-button{
    padding: 10px;
    margin: 5px;
    width: 10%;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

#add-book-btn, #search-book-btn{
    padding: 20px;
    width: 20%;
    float: right;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

hr{
    clear: both;
}

#main-welcome, #details-header{
    text-align: center;
}

h3{
    text-align: center;
}

li{
    list-style-type: none;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

a{
    color: #fff;
    text-decoration: none;
}

li:hover{
    background: rgba(0,0,0,0.2);
}

#details-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}
/* h1{
    margin-bottom: 0;
    text-indent: -10000px;
} */
