<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/{{style}}">
    <title>{{title}}</title>

</head>
<body>
    {{{body}}}
    <div id="todo-table">
        <form>
            <input type="text" name="book" placeholder="Add new book..." required />
            <button type="submit">Add a book!</button>
        </form>
        <ul>
            {{#each Book}}
                <h3>{{this.title}}</h3>
                <br>
            {{/each}}
        </ul>
    </div>
</body>
</html>